<br>
<br>
<br>
<h4 class="text-center">Lancer votre enregistrement en cliquant sur ce bouton rouge</h4>
<p class="text-center">Arrete de parler le bouton lorsque ne clignote plus</p>

<form class="text-center">
  <button *ngIf="!record" class="notRec" (click)="recording()">Not Recording</button>

  <button *ngIf="record" class="Rec">Recording</button>
</form>

<div *ngIf="transcript" class="text-center">
  <div class="spinner-border" style="width: 7rem; height: 7rem;" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<br>
<br>

<div class="text-center" *ngIf="transcriptionResult!=null">
  <h4>Résultat</h4>
  <br>
  <p >
    <span class="text-center border bg-light border-success">{{transcriptionResult}}</span>
  </p>
</div>







<!--<script>
  $('#recButton').addClass("notRec");

  $('#recButton').click(function(){
    if($('#recButton').hasClass('notRec')){
      $('#recButton').removeClass("notRec");
      $('#recButton').addClass("Rec");
    }
    else{
      $('#recButton').removeClass("Rec");
      $('#recButton').addClass("notRec");
    }
  });
</script>-->

<!--<audio controls>
  <source src="monAudio.mp3" type="audio/mpeg">
  <source src="monAudio.ogg" type="audio/ogg">
  <p>
    Votre navigateur ne prend pas charge l'audio HTML.
    Voici <a href="monAudio.mp3">un lien de téléchargement</a> à la place.
  </p>
</audio>-->
